pip~=22.0.4
cryptography~=3.4.7
tornado~=6.1
uuid~=1.30
pathlib~=1.0.1
certifi~=2021.10.8
ujson~=4.0.2
Pillow~=9.0.1
requests~=2.27.1
aiohttp~=3.8.1
six~=1.16.0
idna~=3.3
urllib3~=1.26.8
chardet~=4.0.0
setuptools~=56.0.0